In [217]:
# Import splinter, beautiful soup, pandas
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time

In [218]:
# Set the path 
executable_path={'executable_path': 'Resources/chromedriver.exe'}
browser = Browser('chrome', **executable_path)

## NASA Mars news

In [219]:
# Visit the NASA mars site
url='https://mars.nasa.gov/news/'
browser.visit(url)

In [220]:
# Convert html to soup object
html = browser.html
news_soup = bs(html, 'html.parser')
slide_element = news_soup.select_one('ul.item_list li.slide')

In [221]:
slide_element.find("div", class_='content_title')

<div class="content_title"><a href="/news/8963/nasas-perseverance-rover-begins-its-first-science-campaign-on-mars/" target="_self">NASA's Perseverance Rover Begins Its First Science Campaign on Mars</a></div>

In [222]:
# Name first found a tag
news_title = slide_element.find("div", class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Begins Its First Science Campaign on Mars"

In [223]:
# Find paragraph text
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

'The six-wheeled scientist is heading south to explore Jezero Crater’s lakebed in search of signs of ancient microbial life.'

## JPL Mars Space Images - Featured Image

In [224]:
# Visit JPL site
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)

In [225]:
# Find and click the full image button
full_image_element = browser.find_by_tag('button')[1]
full_image_element.click()

In [226]:
# Soupify from html
html_page = browser.html
html_soup = bs(html_page, 'html.parser')

In [227]:
# Find the featured image
featured_image=html_soup.find('img', class_='fancybox-image').get('src')
featured_image

'image/featured/mars3.jpg'

In [228]:
# Link to featured image
featured_image_url=(f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{featured_image}')
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg

## Mars Facts

In [229]:
# Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
df = pd.read_html('http://space-facts.com/mars/')[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [230]:
# Clean the df up
df.columns=['Description', 'Mars']
df.set_index('Description', inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [231]:
# Use Pandas to convert the data to a HTML table string
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [232]:
hem_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hem_url)

In [233]:
hemisphere_image_urls = []
for i in range (4):
    time.sleep(7)
    images=browser.find_by_tag('h3')
    images[i].click()
    html=browser.html
    soup=bs(html,'html.parser')
    partial_url=soup.find('img',class_='wide-image')['src']
    image_title=soup.find('h2',class_='title').text
    image_url=f'https://astrogeology.usgs.gov{partial_url}'
    image_dict={'title':image_title,'image_url':image_url}
    hemisphere_image_urls.append(image_dict)
    browser.back()

In [234]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [235]:
browser.quit()